[Unit]
Description=X11 window watcher for ActivityWatch
Documentation=
After=aw-server.service

[Service]
Type=simple
ExecStart=/usr/bin/env aw-watcher-x11
Environment="DISPLAY=:0"
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=default.target
